@font-face {
  font-family: "MyFont";
  src: url("./Roboto-Black.ttf") format("ttf"),
    url("./Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hello {
  color: red;
  background: url("./octane.png");
  font-family: "MyFont";
}
